{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet" media="screen">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				
			</div>
			<div class="page-info">
			     <h1>
					Be Productive! <small>Track your day to day activities</small>
				</h1>
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<a href="#">DailyJournal</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">Signup</a>
					</li>
					<li>
						<a href="#">Login</a>
					</li>	
				</ul>
			</nav>

			</div>
			
		</div>
	</div>
</div>
{% endblock %}
