{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<head>
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet" media="screen">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Daily Journal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <a class="page-scroll" href="{% url 'register' %}">Register</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'user_login' %}">Login</a>
                    </li>
                </ul> -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Daily Journal, your personal activities tracker tool !</h1>
                            <a href="{% url 'register' %}" class="btn btn-outline btn-xl page-scroll">Start Now !</a>
                            <a href="{% url 'user_login' %}" class="btn btn-outline btn-xl page-scroll">Login !</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img/demo-screen-1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

    <footer>
        <div class="container">
            <p>&copy; 2017 Holidays' hack. All Rights Reserved.</p>
        </div>
    </footer>

    <!-- jQuery -->
    
</body>

{% endblock %}

</html>
