{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="wrapper">
		<header class="main-header">
			<!-- Logo -->
        	<a href="{% url 'dashboard_home' %}" class="logo">
          	<!-- mini logo for sidebar mini 50x50 pixels -->
          	<span class="logo-mini"><b>D</b>J</span>
          	<!-- logo for regular state and mobile devices -->
          	<span class="logo-lg"><b>Daily Journal</b></span>
        	</a>
        
        
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                        <a href="/logout">
                          <i class="fa  fa-power-off text-aqua"></i>Logout
                        </a>
                </li>  
            </ul>
          </div>
        </nav>
      	</header>
</div>      	
{% endblock %}